<div class="card mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {slug: property.slug, id:property.id}) }}">
                {{ property.title | capitalize }}
            </a>
        </h5>

        <p class="card-text">{{ property.surface }} m² - {{ property.city | upper }} ({{ property.postalCode }})</p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
            {{ property.formattedPrice }} €
        </div>
    </div>
</div>